.bg-lp{
  /* background-image: url("/img/springABFINAL.png"); */
  background-image: linear-gradient(to bottom right, #d0a1a8, #00009d);

  /* Full height */
  height: 100%;
  width: 100%;
  object-fit: contain;

}

.bg-intro{
  background-image: url("/img/springABFINAL.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-small{
  width: 100%;
  height: 800px;
  object-fit: scale-down;
}
